
{{!-- Top Banner Section --}}
<section id="main-content" class="hero">
  <div class="container section">
    <div class="hero__content">
      <h1 class="hero-text fade-in-up">{{settings.hero_heading}}</h1>
      {{#if settings.show_hero_text}}
        <p class="p-large fade-in-up">{{settings.hero_text}}</p>
      {{/if}}
      <div class="hero-inner fade-in-up">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
          <path d="M15.49 14.645L12.24 11.395H12.205C13.2068 10.2139 13.713 8.69119 13.6178 7.1454C13.5226 5.59961 12.8334 4.15049 11.6943 3.10119C10.5553 2.05189 9.05456 1.48368 7.50616 1.51542C5.95777 1.54717 4.48162 2.17641 3.38651 3.27152C2.2914 4.36663 1.66216 5.84278 1.63041 7.39117C1.59867 8.93957 2.16688 10.4403 3.21618 11.5793C4.26548 12.7184 5.7146 13.4076 7.26039 13.5028C8.80618 13.598 10.3289 13.0918 11.51 12.09C11.51 12.09 11.51 12.115 11.51 12.125L14.76 15.375C14.8065 15.4219 14.8618 15.4591 14.9227 15.4845C14.9837 15.5099 15.049 15.5229 15.115 15.5229C15.181 15.5229 15.2464 15.5099 15.3073 15.4845C15.3683 15.4591 15.4236 15.4219 15.47 15.375C15.5213 15.3297 15.5627 15.2742 15.5917 15.2122C15.6206 15.1502 15.6365 15.0828 15.6384 15.0144C15.6403 14.9459 15.6281 14.8778 15.6026 14.8143C15.577 14.7508 15.5387 14.6932 15.49 14.645ZM7.63504 12.5C6.64613 12.5 5.67943 12.2068 4.85719 11.6574C4.03494 11.108 3.39408 10.3271 3.01564 9.41346C2.6372 8.49983 2.53818 7.4945 2.73111 6.5246C2.92404 5.55469 3.40024 4.66378 4.0995 3.96451C4.79877 3.26525 5.68968 2.78905 6.65959 2.59612C7.62949 2.40319 8.63482 2.50221 9.54845 2.88065C10.4621 3.25909 11.243 3.89995 11.7924 4.7222C12.3418 5.54444 12.635 6.51114 12.635 7.50005C12.635 8.15666 12.5057 8.80684 12.2544 9.41346C12.0032 10.0201 11.6349 10.5713 11.1706 11.0356C10.7063 11.4999 10.1551 11.8682 9.54845 12.1194C8.94183 12.3707 8.29165 12.5 7.63504 12.5Z" fill="#686B71"/>
        </svg>
        {{search instant=settings.instant_search class='search search-full'}}
      </div>
      {{#if settings.show_popular_keywords}}
        <div class="popular-keywords fade-in-up" data-keywords="{{settings.popular_keywords}}">
          <p>{{settings.popular_keywords_description}}</p>
        </div>
      {{/if}}
    </div>
  </div>
  <img src="{{asset 'homepage_banner_img1.png'}}" alt="banner">
  <svg width="297" height="357" viewBox="0 0 297 357" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="247.237" y="63.8411" width="4" height="4" rx="2" transform="rotate(27.9788 247.237 63.8411)" fill="#8EF9B5"/>
    <rect x="239.73" y="77.9709" width="4" height="4" rx="2" transform="rotate(27.9788 239.73 77.9709)" fill="#8EF9B5"/>
    <rect x="232.224" y="92.1008" width="4" height="4" rx="2" transform="rotate(27.9788 232.224 92.1008)" fill="#8EF9B5"/>
    <rect x="224.718" y="106.231" width="4" height="4" rx="2" transform="rotate(27.9788 224.718 106.231)" fill="#8EF9B5"/>
    <rect x="261.366" y="71.3474" width="4" height="4" rx="2" transform="rotate(27.9788 261.366 71.3474)" fill="#8EF9B5"/>
    <rect x="253.86" y="85.4773" width="4" height="4" rx="2" transform="rotate(27.9788 253.86 85.4773)" fill="#8EF9B5"/>
    <rect x="246.354" y="99.6072" width="4" height="4" rx="2" transform="rotate(27.9788 246.354 99.6072)" fill="#8EF9B5"/>
    <rect x="238.848" y="113.737" width="4" height="4" rx="2" transform="rotate(27.9788 238.848 113.737)" fill="#8EF9B5"/>
    <rect x="275.496" y="78.8538" width="4" height="4" rx="2" transform="rotate(27.9788 275.496 78.8538)" fill="#8EF9B5"/>
    <rect x="267.99" y="92.9836" width="4" height="4" rx="2" transform="rotate(27.9788 267.99 92.9836)" fill="#8EF9B5"/>
    <rect x="260.484" y="107.114" width="4" height="4" rx="2" transform="rotate(27.9788 260.484 107.114)" fill="#8EF9B5"/>
    <rect x="252.978" y="121.243" width="4" height="4" rx="2" transform="rotate(27.9788 252.978 121.243)" fill="#8EF9B5"/>
    <rect x="289.626" y="86.3601" width="4" height="4" rx="2" transform="rotate(27.9788 289.626 86.3601)" fill="#8EF9B5"/>
    <rect x="282.12" y="100.49" width="4" height="4" rx="2" transform="rotate(27.9788 282.12 100.49)" fill="#8EF9B5"/>
    <rect x="274.614" y="114.62" width="4" height="4" rx="2" transform="rotate(27.9788 274.614 114.62)" fill="#8EF9B5"/>
    <rect x="267.107" y="128.75" width="4" height="4" rx="2" transform="rotate(27.9788 267.107 128.75)" fill="#8EF9B5"/>
    <rect x="34.7084" y="293.39" width="4" height="4" rx="2" transform="rotate(-19.8786 34.7084 293.39)" fill="#FB9CED"/>
    <rect x="40.1488" y="308.437" width="4" height="4" rx="2" transform="rotate(-19.8786 40.1488 308.437)" fill="#FB9CED"/>
    <rect x="45.5892" y="323.483" width="4" height="4" rx="2" transform="rotate(-19.8786 45.5892 323.483)" fill="#FB9CED"/>
    <rect x="51.0298" y="338.53" width="4" height="4" rx="2" transform="rotate(-19.8786 51.0298 338.53)" fill="#FB9CED"/>
    <rect x="49.755" y="287.949" width="4" height="4" rx="2" transform="rotate(-19.8786 49.755 287.949)" fill="#FB9CED"/>
    <rect x="55.1954" y="302.996" width="4" height="4" rx="2" transform="rotate(-19.8786 55.1954 302.996)" fill="#FB9CED"/>
    <rect x="60.636" y="318.043" width="4" height="4" rx="2" transform="rotate(-19.8786 60.636 318.043)" fill="#FB9CED"/>
    <rect x="66.0764" y="333.089" width="4" height="4" rx="2" transform="rotate(-19.8786 66.0764 333.089)" fill="#FB9CED"/>
    <rect x="64.8016" y="282.509" width="4" height="4" rx="2" transform="rotate(-19.8786 64.8016 282.509)" fill="#FB9CED"/>
    <rect x="70.2421" y="297.556" width="4" height="4" rx="2" transform="rotate(-19.8786 70.2421 297.556)" fill="#FB9CED"/>
    <rect x="75.6826" y="312.602" width="4" height="4" rx="2" transform="rotate(-19.8786 75.6826 312.602)" fill="#FB9CED"/>
    <rect x="81.123" y="327.649" width="4" height="4" rx="2" transform="rotate(-19.8786 81.123 327.649)" fill="#FB9CED"/>
    <rect x="79.8483" y="277.069" width="4" height="4" rx="2" transform="rotate(-19.8786 79.8483 277.069)" fill="#FB9CED"/>
    <rect x="85.2887" y="292.115" width="4" height="4" rx="2" transform="rotate(-19.8786 85.2887 292.115)" fill="#FB9CED"/>
    <rect x="90.7292" y="307.162" width="4" height="4" rx="2" transform="rotate(-19.8786 90.7292 307.162)" fill="#FB9CED"/>
    <rect x="96.1697" y="322.208" width="4" height="4" rx="2" transform="rotate(-19.8786 96.1697 322.208)" fill="#FB9CED"/>
  </svg>
  <img src="{{asset 'homepage_banner_img2.png'}}" alt="banner">
  <svg width="249" height="356" viewBox="0 0 249 356" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_21310_1288)">
      <rect x="93.3167" y="243.382" width="4" height="4" rx="2" transform="rotate(25.3051 93.3167 243.382)" fill="#89DCFC"/>
      <rect x="86.4777" y="257.846" width="4" height="4" rx="2" transform="rotate(25.3051 86.4777 257.846)" fill="#89DCFC"/>
      <rect x="79.6386" y="272.311" width="4" height="4" rx="2" transform="rotate(25.3051 79.6386 272.311)" fill="#89DCFC"/>
      <rect x="72.7996" y="286.776" width="4" height="4" rx="2" transform="rotate(25.3051 72.7996 286.776)" fill="#89DCFC"/>
      <rect x="107.781" y="250.221" width="4" height="4" rx="2" transform="rotate(25.3051 107.781 250.221)" fill="#89DCFC"/>
      <rect x="100.942" y="264.685" width="4" height="4" rx="2" transform="rotate(25.3051 100.942 264.685)" fill="#89DCFC"/>
      <rect x="94.1033" y="279.15" width="4" height="4" rx="2" transform="rotate(25.3051 94.1033 279.15)" fill="#89DCFC"/>
      <rect x="87.2643" y="293.615" width="4" height="4" rx="2" transform="rotate(25.3051 87.2643 293.615)" fill="#89DCFC"/>
      <rect x="122.246" y="257.06" width="4" height="4" rx="2" transform="rotate(25.3051 122.246 257.06)" fill="#89DCFC"/>
      <rect x="115.407" y="271.524" width="4" height="4" rx="2" transform="rotate(25.3051 115.407 271.524)" fill="#89DCFC"/>
      <rect x="108.568" y="285.989" width="4" height="4" rx="2" transform="rotate(25.3051 108.568 285.989)" fill="#89DCFC"/>
      <rect x="101.729" y="300.454" width="4" height="4" rx="2" transform="rotate(25.3051 101.729 300.454)" fill="#89DCFC"/>
      <rect x="136.711" y="263.899" width="4" height="4" rx="2" transform="rotate(25.3051 136.711 263.899)" fill="#89DCFC"/>
      <rect x="129.872" y="278.363" width="4" height="4" rx="2" transform="rotate(25.3051 129.872 278.363)" fill="#89DCFC"/>
      <rect x="123.033" y="292.828" width="4" height="4" rx="2" transform="rotate(25.3051 123.033 292.828)" fill="#89DCFC"/>
      <rect x="116.194" y="307.293" width="4" height="4" rx="2" transform="rotate(25.3051 116.194 307.293)" fill="#89DCFC"/>
      <rect x="-0.291626" y="32" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="-0.291626" y="48" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="-0.291626" y="64" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="-0.291626" y="80" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="15.7084" y="32" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="15.7084" y="48" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="15.7084" y="64" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="15.7084" y="80" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="31.7084" y="32" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="31.7084" y="48" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="31.7084" y="64" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="31.7084" y="80" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="47.7084" y="32" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="47.7084" y="48" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="47.7084" y="64" width="4" height="4" rx="2" fill="#FEF977"/>
      <rect x="47.7084" y="80" width="4" height="4" rx="2" fill="#FEF977"/>
    </g>
    <defs>
      <clipPath id="clip0_21310_1288">
        <rect width="249" height="356" fill="white"/>
      </clipPath>
    </defs>
  </svg>
</section>

{{#if settings.show_introduction_section}}
{{!-- Introduction Section --}}
<section class="introduction section">
  <div class="container">
    <div class="introduction__items">
      <div class="fade-in-up">
        <div>
          <div class="introduction__item">
            <h6>
              <a href="{{settings.introduction_item1_link}}">{{settings.introduction_item1_heading}}</a>
              <img src="{{asset 'introduction_image.png'}}" alt="icon">
            </h6>
            <p>{{settings.introduction_item1_subtitle}}</p>
          </div>
          <div class="introduction__item">
            <h6>
              <a href="{{settings.introduction_item2_link}}">{{settings.introduction_item2_heading}}</a>
              <img src="{{asset 'introduction_image.png'}}" alt="icon">
            </h6>
            <p>{{settings.introduction_item2_subtitle}}</p>
          </div>
        </div>
        <div>
          <div class="introduction__item">
            <h6>
              <a href="{{settings.introduction_item3_link}}">{{settings.introduction_item3_heading}}</a>
              <img src="{{asset 'introduction_image.png'}}" alt="icon">
            </h6>
            <p>{{settings.introduction_item3_subtitle}}</p>
          </div>
          <div class="introduction__item">
            <h6>
              <a href="{{settings.introduction_item4_link}}">{{settings.introduction_item4_heading}}</a>
              <img src="{{asset 'introduction_image.png'}}" alt="icon">
            </h6>
            <p>{{settings.introduction_item4_subtitle}}</p>
          </div>
        </div>
      </div>
      <div class="fade-in-up">
        <div>
          <div class="introduction__item">
            <h6>
              <a href="{{settings.introduction_item5_link}}">{{settings.introduction_item5_heading}}</a>
              <img src="{{asset 'introduction_image.png'}}" alt="icon">
            </h6>
            <p>{{settings.introduction_item5_subtitle}}</p>
          </div>
          <div class="introduction__item">
            <h6>
              <a href="{{settings.introduction_item6_link}}">{{settings.introduction_item6_heading}}</a>
              <img src="{{asset 'introduction_image.png'}}" alt="icon">
            </h6>
            <p>{{settings.introduction_item6_subtitle}}</p>
          </div>
        </div>
        <div>
          <div class="introduction__item">
            <h6>
              <a href="{{settings.introduction_item7_link}}">{{settings.introduction_item7_heading}}</a>
              <img src="{{asset 'introduction_image.png'}}" alt="icon">
            </h6>
            <p>{{settings.introduction_item7_subtitle}}</p>
          </div>
          <div class="introduction__item">
            <h6>
              <a href="{{settings.introduction_item8_link}}">{{settings.introduction_item8_heading}}</a>
              <img src="{{asset 'introduction_image.png'}}" alt="icon">
            </h6>
            <p>{{settings.introduction_item8_subtitle}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}

{{#if settings.show_categories_section}}
{{!-- Categories Section --}}
<section class="categories section">
  <div class="container">
    <div class="categories__items">
      {{#each categories}}
        <div class="categories__item fade-in-up">
          <h4><a href="{{url}}">{{name}}</a></h4>
          {{#if description}}
            <p>{{description}}</p>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}

{{#if settings.show_category1_section}}
{{!-- Categories Section --}}
<section class="category-details section">
  <div class="container">
    {{#each categories}}
      <div class="category-details__item">
        <div class="category-details__head">
          <h2 class="fade-in-up">{{name}}</h2>
          <div class="fade-in-up">
            <a class="button button-secondary" href="{{url}}">{{t 'see_all_sections'}}</a>
          </div>
        </div>
        <div class="category-details__sections">
          {{#each sections}}
            <div class="category-details__section fade-in-up">
              <div>
                <h5><a href="{{url}}">{{name}}</a></h5>
                <ul>
                  {{#each articles}}
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                      <path d="M13.3906 5.85938C12.6368 5.85938 12.0234 5.24605 12.0234 4.49219V0H5.03125C3.8466 0 2.88281 0.963789 2.88281 2.14844V17.8516C2.88281 19.0362 3.8466 20 5.03125 20H15.9688C17.1534 20 18.1172 19.0362 18.1172 17.8516V5.85938H13.3906ZM6.08594 14.0625H8.92656C9.25016 14.0625 9.5125 14.3248 9.5125 14.6484C9.5125 14.972 9.25016 15.2344 8.92656 15.2344H6.08594C5.76234 15.2344 5.5 14.972 5.5 14.6484C5.5 14.3248 5.76234 14.0625 6.08594 14.0625ZM5.5 11.5234C5.5 11.1998 5.76234 10.9375 6.08594 10.9375H14.6797C15.0033 10.9375 15.2656 11.1998 15.2656 11.5234C15.2656 11.847 15.0033 12.1094 14.6797 12.1094H6.08594C5.76234 12.1094 5.5 11.847 5.5 11.5234ZM14.6797 7.8125C15.0033 7.8125 15.2656 8.07484 15.2656 8.39844C15.2656 8.72203 15.0033 8.98438 14.6797 8.98438H6.08594C5.76234 8.98438 5.5 8.72203 5.5 8.39844C5.5 8.07484 5.76234 7.8125 6.08594 7.8125H14.6797Z" fill="#B9E97D"/>
                      <path d="M13.1953 4.49219C13.1953 4.59989 13.2829 4.6875 13.3906 4.6875H17.856C17.7488 4.48961 17.6109 4.30785 17.4453 4.1511L13.6788 0.587738C13.5326 0.449457 13.3698 0.334105 13.1954 0.243011V4.49219H13.1953Z" fill="#B9E97D"/>
                    </svg>
                    <a href="{{url}}">{{title}}</a>
                  </li>
                  {{/each}}
                </ul>
              </div>
              <a class="button button-secondary" href="{{url}}">{{t 'show_all_articles'}}</a>
              
            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</section>
{{/if}}

{{#if settings.show_category2_section}}
{{!-- Categories Section --}}
<section class="category-details categories-layout2 section">
  <div class="container">
    {{#if settings.show_category2_header}}
      <div class="category-details__header">
        <h2>{{settings.category2_heading}}</h2>
        {{#if settings.show_category2_subtitle}}
          <p>{{settings.category2_subtitle}}</p>
        {{/if}}
      </div>
    {{/if}}
    <div class="category-details__list">
      {{#each categories}}
        <div class="category-details__section fade-in-up">
          <div>
            <h5><a href="{{url}}">{{name}}</a></h5>
            <ul>
              {{#each sections}}
                {{#each articles}}
                <li>
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <path d="M13.3906 5.85938C12.6368 5.85938 12.0234 5.24605 12.0234 4.49219V0H5.03125C3.8466 0 2.88281 0.963789 2.88281 2.14844V17.8516C2.88281 19.0362 3.8466 20 5.03125 20H15.9688C17.1534 20 18.1172 19.0362 18.1172 17.8516V5.85938H13.3906ZM6.08594 14.0625H8.92656C9.25016 14.0625 9.5125 14.3248 9.5125 14.6484C9.5125 14.972 9.25016 15.2344 8.92656 15.2344H6.08594C5.76234 15.2344 5.5 14.972 5.5 14.6484C5.5 14.3248 5.76234 14.0625 6.08594 14.0625ZM5.5 11.5234C5.5 11.1998 5.76234 10.9375 6.08594 10.9375H14.6797C15.0033 10.9375 15.2656 11.1998 15.2656 11.5234C15.2656 11.847 15.0033 12.1094 14.6797 12.1094H6.08594C5.76234 12.1094 5.5 11.847 5.5 11.5234ZM14.6797 7.8125C15.0033 7.8125 15.2656 8.07484 15.2656 8.39844C15.2656 8.72203 15.0033 8.98438 14.6797 8.98438H6.08594C5.76234 8.98438 5.5 8.72203 5.5 8.39844C5.5 8.07484 5.76234 7.8125 6.08594 7.8125H14.6797Z" fill="#B9E97D"/>
                    <path d="M13.1953 4.49219C13.1953 4.59989 13.2829 4.6875 13.3906 4.6875H17.856C17.7488 4.48961 17.6109 4.30785 17.4453 4.1511L13.6788 0.587738C13.5326 0.449457 13.3698 0.334105 13.1954 0.243011V4.49219H13.1953Z" fill="#B9E97D"/>
                  </svg>
                  <a href="{{url}}">{{title}}</a>
                </li>
                {{/each}}
              {{/each}}
            </ul>
          </div>
          <a class="button button-secondary" href="{{url}}">{{t 'see_all_sections'}}</a>
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}


{{!-- Popular Videos Section --}}
{{#if settings.show_videos}}
<section class="videos section">
  <div class="container">
    <div class="videos__head">
      <h2 class="fade-in-up">{{settings.videos_heading}}</h2>
      <a class="button button-secondary" href="{{settings.videos_button_link}}" target="_blank">{{settings.videos_button}}</a>
    </div>
    <div class="videos__list">
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img1}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link1}}">
          <svg width="62" height="61" viewBox="0 0 62 61" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.538086" y="0.204956" width="60.59" height="60.59" rx="30.295" fill="#FB9CED"/>
            <path d="M41.7736 29.2774C42.7148 29.8207 42.7148 31.1792 41.7736 31.7226L26.4216 40.5861C25.4804 41.1295 24.304 40.4502 24.304 39.3635L24.304 21.6364C24.304 20.5497 25.4804 19.8705 26.4216 20.4138L41.7736 29.2774Z" fill="#1E1E1E"/>
          </svg>
        </div>
        <h4>{{settings.videos_heading1}}</h4>
        <p>{{settings.videos_description1}}</p>
      </div>
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img2}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link2}}">
          <svg width="62" height="61" viewBox="0 0 62 61" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.538086" y="0.204956" width="60.59" height="60.59" rx="30.295" fill="#FB9CED"/>
            <path d="M41.7736 29.2774C42.7148 29.8207 42.7148 31.1792 41.7736 31.7226L26.4216 40.5861C25.4804 41.1295 24.304 40.4502 24.304 39.3635L24.304 21.6364C24.304 20.5497 25.4804 19.8705 26.4216 20.4138L41.7736 29.2774Z" fill="#1E1E1E"/>
          </svg>
        </div>
        <h4>{{settings.videos_heading2}}</h4>
        <p>{{settings.videos_description2}}</p>
      </div>
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img3}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link3}}">
          <svg width="62" height="61" viewBox="0 0 62 61" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.538086" y="0.204956" width="60.59" height="60.59" rx="30.295" fill="#FB9CED"/>
            <path d="M41.7736 29.2774C42.7148 29.8207 42.7148 31.1792 41.7736 31.7226L26.4216 40.5861C25.4804 41.1295 24.304 40.4502 24.304 39.3635L24.304 21.6364C24.304 20.5497 25.4804 19.8705 26.4216 20.4138L41.7736 29.2774Z" fill="#1E1E1E"/>
          </svg>
        </div>
        <h4>{{settings.videos_heading3}}</h4>
        <p>{{settings.videos_description3}}</p>
      </div>
    </div>
  </div>

  {{!-- Modal window --}}
  <div class="video-modal">
    <span class="close">×</span>
    <iframe width="640" height="360" src="" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
{{/if}}


<section class="section last-section">
  <div class="container">
    {{#if settings.show_faq_section}}
    {{!-- FAQ Section --}}
    <div class="faq">
      <div class="faq__head">
        <h2 class="fade-in-up">{{settings.faq_heading}}</h2>
        <p class="fade-in-up">{{settings.faq_subtitle}}</p>
      </div>
      <div class="faq__items">
        <div class="faq__item fade-in-up">
          <div>
            <h6>{{settings.faq_item1_heading}}</h6>
            <div>
              <img src="{{asset 'ball.png'}}" alt="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
                <path d="M1 5H10M10 5L6.0625 1M10 5L6.0625 9" stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
          <p>{{settings.faq_item1_text}}</p>
        </div>
        <div class="faq__item fade-in-up">
          <div>
            <h6>{{settings.faq_item2_heading}}</h6>
            <div>
              <img src="{{asset 'ball.png'}}" alt="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
                <path d="M1 5H10M10 5L6.0625 1M10 5L6.0625 9" stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
          <p>{{settings.faq_item2_text}}</p>
        </div>
        <div class="faq__item fade-in-up">
          <div>
            <h6>{{settings.faq_item3_heading}}</h6>
            <div>
              <img src="{{asset 'ball.png'}}" alt="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
                <path d="M1 5H10M10 5L6.0625 1M10 5L6.0625 9" stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
          <p>{{settings.faq_item3_text}}</p>
        </div>
      </div>
    </div>
    {{/if}}

    <div class="submit-request">
      <h2 class="fade-in-up">{{settings.footer_heading}}</h2>
      <p class="fade-in-up">{{settings.footer_text}}</p>
      <div class="fade-in-up">
        <a class="button button-tertiary" href="{{settings.footer_link}}">{{settings.footer_link_text}}</a>
      </div>
      <img src="{{asset 'submit_request_img1.png'}}" alt="icon">
      <img src="{{asset 'submit_request_img2.png'}}" alt="icon">
      <img src="{{asset 'submit_request_img3.png'}}" alt="icon">
      <img src="{{asset 'submit_request_img4.png'}}" alt="icon">
    </div>
  </div>
</section>






